wsdl/FileTransfererImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. -->
<definitions targetNamespace="http://impl.filestransfer.services/" name="FileTransfererImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://impl.filestransfer.services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.example.com" schemaLocation="FileTransfererImplService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://impl.filestransfer.services/" schemaLocation="FileTransfererImplService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="FileFaultException">
    <part name="fault" element="ns1:FileFaultException" xmlns:ns1="http://www.example.com"/>
  </message>
  <message name="upload">
    <part name="parameters" element="tns:upload"/>
  </message>
  <message name="uploadResponse">
    <part name="parameters" element="tns:uploadResponse"/>
  </message>
  <message name="download">
    <part name="parameters" element="tns:download"/>
  </message>
  <message name="downloadResponse">
    <part name="parameters" element="tns:downloadResponse"/>
  </message>
  <portType name="FileTransfererImpl">
    <operation name="delete">
      <input wsam:Action="http://impl.filestransfer.services/FileTransfererImpl/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://impl.filestransfer.services/FileTransfererImpl/deleteResponse" message="tns:deleteResponse"/>
      <fault message="tns:FileFaultException" name="FileFaultException" wsam:Action="http://impl.filestransfer.services/FileTransfererImpl/delete/Fault/FileFaultException"/>
    </operation>
    <operation name="upload">
      <input wsam:Action="http://impl.filestransfer.services/FileTransfererImpl/uploadRequest" message="tns:upload"/>
      <output wsam:Action="http://impl.filestransfer.services/FileTransfererImpl/uploadResponse" message="tns:uploadResponse"/>
      <fault message="tns:FileFaultException" name="FileFaultException" wsam:Action="http://impl.filestransfer.services/FileTransfererImpl/upload/Fault/FileFaultException"/>
    </operation>
    <operation name="download">
      <input wsam:Action="http://impl.filestransfer.services/FileTransfererImpl/downloadRequest" message="tns:download"/>
      <output wsam:Action="http://impl.filestransfer.services/FileTransfererImpl/downloadResponse" message="tns:downloadResponse"/>
      <fault message="tns:FileFaultException" name="FileFaultException" wsam:Action="http://impl.filestransfer.services/FileTransfererImpl/download/Fault/FileFaultException"/>
    </operation>
  </portType>
  <binding name="FileTransfererImplPortBinding" type="tns:FileTransfererImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileFaultException">
        <soap:fault name="FileFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="upload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileFaultException">
        <soap:fault name="FileFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="download">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileFaultException">
        <soap:fault name="FileFaultException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="FileTransfererImplService">
    <port name="FileTransfererImplPort" binding="tns:FileTransfererImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

